@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFProBold';
  src: url('./fonts/SFProText-Bold.ttf');
}

@font-face {
  font-family: 'SFProMedium';
  src: url('./fonts/SFProText-Medium.ttf');
}

@font-face {
  font-family: 'SFProSemibold';
  src: url('./fonts/SFProText-Semibold.ttf');
}

@font-face {
  font-family: 'SFProRegular';
  src: url('./fonts/SFProText-Regular.ttf');
}

@font-face {
  font-family: 'RetroSailing';
  src: url('./fonts/RetroSailing.ttf');
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  user-select: none;
}

body {
  font-family: 'SFProRegular';
  background: url('assets/background.svg') no-repeat center center fixed;
  background-size: cover;
  cursor: default;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-areas:
    'calendar calendar profile'
    'orderlist messages messages'
    'orderlist timetable timetable'
    'ordergenerator ordergenerator filelist';
  gap: 1.5rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

@media (max-width: 1000px) {
  .widgets {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-areas:
      'profile filelist'
      'calendar calendar'
      'messages messages'
      'timetable timetable'
      'ordergenerator ordergenerator'
      'orderlist orderlist';
  }
}

@media (max-width: 800px) {
  .widgets {
    display: flex;
    flex-direction: column;
  }
}

.widget {
  padding: 2.5rem;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-height: 400px;
}

.widget:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.calendar {
  grid-area: calendar;
}

.profile {
  grid-area: profile;
}

.orderlist {
  grid-area: orderlist;
  max-height: none;
}

.messages {
  grid-area: messages;
}

.timetable {
  grid-area: timetable;
}

.ordergenerator {
  grid-area: ordergenerator;
}

.filelist {
  grid-area: filelist;
}

.button-element {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  font-family: SFProSemibold, serif;
}

.list-element {
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.list-element:hover {
  filter: invert(0.06);
}

.scale-animation {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scale-animation:hover {
  transform: scale(1.13);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.widget-title {
  font-family: SFProBold, serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.scroll-element {
  overflow-y: auto;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
}

.scroll-element::-webkit-scrollbar {
  width: 0px;
}

.scroll-element::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}

.scroll-element::-webkit-scrollbar-thumb:hover {
  background: grey;
}
