@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFProBold';
  src: url('./fonts/SFProText-Bold.ttf');
}

@font-face {
  font-family: 'SFProMedium';
  src: url('./fonts/SFProText-Medium.ttf');
}

@font-face {
  font-family: 'SFProSemibold';
  src: url('./fonts/SFProText-Semibold.ttf');
}

@font-face {
  font-family: 'SFProRegular';
  src: url('./fonts/SFProText-Regular.ttf');
}

@font-face {
  font-family: 'RetroSailing';
  src: url('./fonts/RetroSailing.ttf');
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  user-select: none;
}

body {
  font-family: 'SFProRegular';
  background-image: url('assets/background.svg');
  background-size: cover;
  color: white;
  cursor: default;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-areas:
    'calendar calendar profile'
    'orderlist messages messages'
    'orderlist timetable timetable'
    'ordergenerator ordergenerator filelist';
  gap: 1.5rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

.widget {
  padding: 2.5rem;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.widget:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.calendar {
  grid-area: calendar;
}

.profile {
  grid-area: profile;
}

.orderlist {
  grid-area: orderlist;
}

.messages {
  grid-area: messages;
}

.timetable {
  grid-area: timetable;
}

.ordergenerator {
  grid-area: ordergenerator;
}

.filelist {
  grid-area: filelist;
}

.button-element {
  display: flex;
  cursor: pointer;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  font-family: SFProSemibold, serif;
}

.list-element {
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.list-element:hover {
  filter: invert(0.06);
}

.scale-animation {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scale-animation:hover {
  transform: scale(1.13);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.widget-title {
  font-family: SFProBold, serif;
  font-size: 1.5rem;
  line-height: 2rem;
}
